/**************************************************************************************************/
/**************************************************************************************************/
/**************************************************************************************************/
* {
	margin: 0 auto;
	padding: 0;
}
/* Media Player */
body { font-family:'verdana'; }

#wrapper {
	width: 80%;
	margin: auto;
}

h1 { 
	font-size:16px;
	color:#333;
}
.title{
	/*padding-top:2px;
	padding-bottom: 2px;*/
}
#degreeName{
	float:left;
}
#courseName{
	float:left;
}
#videoTitle{
	float:left;
}
#media-player {
	/*width: 70%;*/
	/*padding:1em 1em .5em;*/
	width: 640px;
	height: 360px;
}
#viewContainer{
	background-color: black;
}
#viewOp{
	position: absolute;
	/*width: 100%;*/
	/*display: none;*/
}
#viewPhotos{
	background-image: url('../img/default_poster.png');
	/*width: 100%;*/
}
#viewPhotos_darkBackground{
	background-color: black;
}
#viewerBottom{
	  position: relative;
  bottom: 4px;
}
.splitter{
	width:95%;
}
#voteContainerLine{
	height: 20px;
}
#voteContainer{
	/*float:right;*/
	/*height: 20px;*/
	/*background-size: auto;*/
  	/*width: 20px;*/
  	height: 20px;
}
#viewerDescription {
	/*position: relative;
	bottom:4px;*/
	/*height: 20px;*/
	background-color: #cccccc;
}

.voteLinks {
	float: left; 
	height:inherit;
	opacity: .5;
}
.voteLinks:hover {
	opacity: .6;
}
.voteLinks:active {
	opacity: 1;
}
.voteNumber {
	/*width: 20px;*/
	/*height: inherit;*/
	/*margin-left: 5px;
	margin-right: 5px;*/
	float: left;
}
.votePic {
	width: 20px;
	/*background-repeat: no-repeat;*/
	height: inherit;
	background-size: 100%;
	/*margin-top: 3px;*/
	/*margin-bottom: 3px;*/
	float: left;
	margin-left: 5px;
  	margin-right: 5px;
}
#voteDown{
	/*background-image: url('../img/down.png');*/
	background: no-repeat url('//s.ytimg.com/yts/imgbin/www-hitchhiker-vflq3y4n_.webp') -275px -47px;
	/*// no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflynt-iQ.webp) -552px -77px;*/
}
#voteUp{
	/*background-image: url('../img/up.png');*/
	background: no-repeat url('//s.ytimg.com/yts/imgbin/www-hitchhiker-vflq3y4n_.webp') -109px -143px;
	/* // no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflq3y4n_.webp) -20px -116px	
	// no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflynt-iQ.webp) -279px -142px; */
}


#slider{
	background-color: #333333;
	/*position: relative;
  	bottom: 4px;*/
  	/*width: 100%;*/
}
#secondSlider {
	width: 100%;
}
#showtime{
	/*display: inherit;*/
}