* {
	margin: 0px;
	padding: 0px;
}

header, footer, nav, main, section, article, aside {
	display: block;
}

#myRecordingsWrapper{
	width: 1200px;
	margin: 0 auto;
	background-color: yellow;
}

#myRecordingsBody {
	background-color: #C1C4C4;
	font-family: Arial, Helvetica, sans-serif;
}


#myRecordingsTopNav {
	padding: 3px;
	background-color: #1C454B;
	height: 50px;
	color: white;
}

/*  --------------------------  */
.profilePic {
	width: 35px;
	height: 35px;
	background: #1C454B;
	-moz-border-radius: 17.5px;
	-webkit-border-radius: 17.5px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	float: left;
}

#topNavProfilePic {
	margin-right: 3px;
}

#topNavProjectTitle a {
	color: #FFFFFF;
	font-size: 18px;
	float: left;
	margin: 10px 0 0 20px;
	text-decoration: none;
}

#userTopNavDetailsWrapper {
	margin-right: 30px;
	float: right;
	width: 200px;
}

#navDropDown {
	display: inline;
}

/*  -------------------------  */



#sideMenu{
	height: 500px;
	width: 250px;
	float: right;
	padding: 10px;
	background-color: #9A9C9C;
	border-left: 1px solid #000000;
}

#videosWrapper{
	float: left;
	background-color: #9A9C9C;
	height: 500px;
	width: 950px;
}

.menuTitle{
	padding-left: 5px;
	font-weight: bolder;
}

.menuItem{
	padding-left: 15px;
}

.clear {
	clear: both;
}

