* {
	margin: 0px;
	padding: 0px;
}

header, footer, nav, main, section, article, aside {
	display: block;
}

#myRecordingsWrapper{
	width: 1200px;
	min-height: 500px;
	margin: 0 auto;
	background-color: #E0E1E1;
}

#myRecordingsBody {
	background-color: #C1C4C4;
	font-family: Arial, Helvetica, sans-serif;
}


#myRecordingsTopNav {
	padding: 3px;
	background-color: #1C454B;
	height: 50px;
	color: white;
}

/*  --------------------------  */
.profilePic {
	width: 35px;
	height: 35px;
	background: #1C454B;
	-moz-border-radius: 17.5px;
	-webkit-border-radius: 17.5px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	float: left;
	margin-right: 2px;
}

#topNavProfilePic {
	margin-right: 3px;
}

#topNavProjectTitle a {
	color: #FFFFFF;
	font-size: 18px;
	float: left;
	margin: 10px 0 0 20px;
	text-decoration: none;
}

#userTopNavDetailsWrapper {
	margin-right: 30px;
	float: right;
	width: 200px;
}

#navDropDown {
	display: inline;
}

/*  -------------------------  */



#sideMenu{
	
	width: 250px;
	float: right;
	padding: 10px;
	background-color: #E0E1E1;
	
}

#videosWrapper{
	float: left;
	min-height: 500px;
	background-color: #E0E1E1;
	border-right: 1px solid #AEAFAF;
	width: 950px;
}

.menuTitle{
	padding-left: 5px;
	font-weight: bolder;
}

.menuItem{
	padding-left: 15px;
}

.singleVideoWrapper{
	width: 200px;
	margin: 0 auto;
	background-color: #FFFFFF;
	margin: 10px 0 20px 0;
}

.videoImage{
	background: url("../img/staticLecturus.jpg");
	background-size: cover;
	width: 200px;
	height: 150px;
}

.videoParticipants{
	padding: 5px;
	height: 45px;
}

.videoTitle{
	padding: 2px;
}

.videoTitle a,a:hover,a:focus,a:active{
	color: #337ab7;
	text-decoration: none;
}

.videoDetails{
	padding: 2px;
}

.videoViews{
	padding: 2px;
}

.videoLecturer{
	padding: 2px;
}

.videoRecordDate{
	padding: 2px;
}

.editVideoButton a,a:hover,a:focus,a:active {
	text-decoration: none;
	color: #FFFFFF;
}

.clear {
	clear: both;
}

